<a href="https://colab.research.google.com/github/khamzovich/google_data_studio_dash/blob/main/visits_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# connect Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# install libraries to connect google sheets
!pip install --upgrade gspread gspread_dataframe --quiet

In [3]:
import sys
import os

import pandas as pd
import numpy as np
import random

# gspread
import gspread
from gspread_dataframe import set_with_dataframe

In [4]:
# add path with secret file
path = '/content/drive/MyDrive'
sys.path.append(os.path.abspath(path))

In [5]:
# load tokens
from secret import file_id, g_sheet_id, file_name

**Load Credentials**

In [6]:
!gdown {file_id} --quiet

### google sheets

In [7]:
# access google sheet
gc = gspread.service_account(filename=file_name)
sh = gc.open_by_key(g_sheet_id)

### read file (if file is already created)

In [8]:
ws = sh.worksheet('Sheet1')
df = pd.DataFrame(ws.get_all_records())
df.shape

(3851, 10)

In [9]:
df.head(3)

,call_id,date,visitor,visit,city,product,customer,plan,base,duration
0,0,2022-05-02 0:00:00,Mark Abbott,Submitted,Berlin,Furniture,John Martin,1,Assigned base,870
1,47,2022-02-21 0:00:00,Angela Holland,Canceled,Frankfurt,Furniture,Tracy James,1,Assigned base,0
2,57,2022-02-22 0:00:00,Thomas Leonard,Submitted,Berlin,Lighting,Thomas Wade,1,Assigned base,447

## Create dataframe with random data

In [10]:
# random dates
def random_dates(start_date, end_date, n=10):
  
  dates = pd.date_range(pd.to_datetime(start_date), pd.to_datetime(end_date), freq='D')
  
  # dates random probability distribution
  dates_prob = np.random.randint(1, 50, size=len(dates))
  dates_prob = dates_prob / sum(dates_prob)

  return pd.to_datetime(np.random.choice(dates, n, p=dates_prob), unit='s')

[Random names generator](https://randomus.ru/name)

In [11]:
#@markdown templates for random dataframe
visitors = [
    'Barbara Cole', 'Richard Carter', 'Martha Hammond', 'James May',
    'Bonnie Sanchez', 'Victor Oliver', 'Patricia Briggs', 'Reginald Garcia',
    'John Anderson', 'Melvin Johnson', 'John Warner', 'Mark Abbott',
    'Mary Howell', 'Tonya White', 'Barbara Gonzalez', 'Aaron Cook',
    'Michael Wilson', 'David Perry', 'Joe Buchanan', 'Martin Martinez',
    'Jean Martin', 'Dawn Hanson', 'Anne Rodriguez', 'Pamela Harris',
    'Sean Smith', 'Cheryl Price', 'Lonnie Kelley', 'Aaron Stewart',
    'Robert Bailey', 'Franklin Johnson', 'Angela Holland', 'Sara Lopez',
    'Paul Ball', 'Brian Powell', 'Dorothy Lucas', 'Travis Smith',
    'Richard Phelps', 'Terri Payne', 'John Simpson', 'James Miller',
    'Barbara Edwards', 'Thomas Leonard', 'Lillie Hart', 'Priscilla Turner',
    'Allen Davis', 'James Smith', 'Agnes White', 'Terri Myers'
    ]

customers = [
    'Ann Strickland', 'Gregory Brown', 'Linda Watson', 'John Martin',
    'Roy Curry', 'Penny Smith', 'John Ray', 'Susan Perkins',
    'Samuel Daniels', 'Debra Johnson', 'Kathleen Rowe', 'Barbara Gibbs',
    'Terry Burke', 'Susan Simmons', 'Gregory Johnson', 'Barbara Smith',
    'Angela Gordon', 'Marc Long', 'Alex Adams', 'Gina Lee',
    'Jennifer Taylor', 'Sara Stanley', 'Timothy Ramos', 'Elsie King',
    'Amy Davis', 'Heather Fletcher', 'Anita Hall', 'Lisa Hicks',
    'Angela Romero', 'Charles Williams', 'Donald Hamilton', 'James Smith',
    'Harold Lee', 'Lance Cruz', 'Dorothy Gordon', 'Richard Ortega',
    'Thomas Wade', 'Tracy James', 'Ann Young', 'Linda Lopez',
    'Anthony Collins', 'Laura Thomas', 'Rhonda White', 'Corey Reyes',
    'Mark Flores', 'Laurie Brown', 'Patsy Turner', 'Joseph Ray',
    'Anna Allen', 'Patricia Davis', 'Kevin Arnold', 'Steve Garcia',
    'Gladys Hall', 'William Scott', 'Sonia Luna', 'Sherry Jones',
    'Kathleen Jones', 'Laura Montgomery', 'Jo Aguilar', 'Lillian Bryan',
    'Ruby Walton', 'Lloyd Higgins', 'Frederick Perry', 'Cassandra Richardson',
    'Paul Murphy', 'Marie Perry', 'Christopher Reeves', 'Jacob Walters',
    'Michele Wilson', 'Peggy Fox', 'John Lopez', 'Oscar Robinson',
    'Sharon Hernandez', 'Yolanda Ramirez', 'Esther Parker', 'Ethel Alvarez',
    'Kimberly Tucker', 'Betty Mathis', 'Dorothy Banks', 'Dorothy Chavez',
    'Gregory Stanley', 'Martha Estrada', 'Andrew Sherman', 'John Smith',
    'Nathan Rowe', 'Jennifer Dawson', 'Joanne Burns', 'John Collins',
    'Yolanda Taylor', 'Howard Bryant', 'Miriam Wade', 'Veronica Wilson',
    'Theodore Phillips', 'Ruth Johnson', 'Kathryn Perry', 'Anita Carlson',
    'Joseph Oliver', 'Sonia Armstrong', 'Michael Wilson', 'Francisco Nichols'
    ]

cities = ['Berlin', 'Frankfurt', 'Cologne', 'Hanover']
products = ['Furniture', 'Decoration', 'Lighting']
visit_result = ['Submitted', 'Canceled']
slide = ['ch_001', 'ch_002', 'ch_003', 'ch_004', 'ch_005', 'ch_006', 'ch_007']
base = ['Assigned base', 'Active base', 'Non-active base']

d_pres = {
    'pres_1': ['sl_1_001', 'sl_1_002', 'sl_1_003', 'sl_1_004', 'sl_1_005'],
    'pres_2': ['sl_2_001', 'sl_2_002', 'sl_2_003', 'sl_2_004', 'sl_2_005'],
    'pres_3': ['sl_3_001', 'sl_3_002', 'sl_3_003', 'sl_3_004', 'sl_3_005'],
    'pres_4': ['sl_4_001', 'sl_4_002', 'sl_4_003', 'sl_4_004', 'sl_4_005'],
    'pres_5': ['sl_5_001', 'sl_5_002', 'sl_5_003', 'sl_5_004', 'sl_5_005']
    }

d_slide = {
    'sl_1_001': 'https://www.ikea.com/de/de/images/products/pax-grimo-schrankkombination-weiss-grimo-grau__0913279_pe783453_s5.jpg?f=xl',
    'sl_1_002': 'https://www.ikea.com/de/de/images/products/ivar-1-element-klapptisch-schiebetuer-kiefer__1014475_pe829665_s5.jpg?f=xl',
    'sl_1_003': 'https://www.ikea.com/de/de/images/products/omar-regal-verzinkt__0650980_pe706616_s5.jpg?f=m',
    'sl_1_004': 'https://www.ikea.com/de/de/images/products/ivar-schrank-mit-tueren-gruen-netz__1010930_pe828290_s5.jpg?f=m',
    'sl_1_005': 'https://www.ikea.com/de/de/images/products/idasen-schrank-mit-tueren-schubladen__1020153_pe831807_s5.jpg?f=m',
    'sl_2_001': 'https://www.ikea.com/de/de/images/products/gillstad-wanddekoration-3er-set-riedgras-handarbeit__1110049_pe870341_s5.jpg?f=m',
    'sl_2_002': 'https://www.ikea.com/de/de/images/products/solvinden-lichterkette-12-led-dekoration-fuer-draussen-batteriebetrieben-stern__1032391_pe836891_s5.jpg?f=m',
    'sl_2_003': 'https://www.ikea.com/de/de/images/products/bogense-teppich-kurzflor-beige-weiss-punkte__1073959_pe856084_s5.jpg?f=m',
    'sl_2_004': 'https://www.ikea.com/de/de/images/products/tjena-kasten-mit-deckel-weiss-beige__1131571_pe878035_s5.jpg?f=m',
    'sl_2_005': 'https://www.ikea.com/de/de/images/products/dipladenia-pflanze-trichterbluete-versch-farben__1108457_pe869419_s5.jpg?f=xl',
    'sl_3_001': 'https://www.ikea.com/de/de/images/products/storhaga-tischleuchte-led-dimmbar-fuer-draussen-schwarz__0763153_pe752459_s5.jpg?f=m',
    'sl_3_002': 'https://www.ikea.com/de/de/images/products/styrbar-fernbedienung-weiss__0948380_pe798989_s5.jpg?f=m',
    'sl_3_003': 'https://www.ikea.com/de/de/images/products/nymane-arbeitsleuchte-mit-ladefunktion-weiss__1023850_ph177726_s5.jpg?f=m',
    'sl_3_004': 'https://www.ikea.com/de/de/images/products/nymane-deckenleuchte-led-weiss__1041893_pe841176_s5.jpg?f=m',
    'sl_3_005': 'https://www.ikea.com/de/de/images/products/nymane-deckenspot-4-spots-weiss__0896486_pe648820_s5.jpg?f=m',
    'sl_4_001': 'https://www.ikea.com/de/de/images/products/bergmund-barhocker-eichenachbildung-gunnared-mittelgrau__0926414_pe789201_s5.jpg?f=m',
    'sl_4_002': 'https://www.ikea.com/de/de/images/products/yngvar-barhocker-anthrazit__0714270_pe729999_s5.jpg?f=m',
    'sl_4_003': 'https://www.ikea.com/de/de/images/products/nordviken-bergmund-theke-4-barstuehle-schwarz-gunnared-mittelgrau__0954374_pe803245_s5.jpg?f=m',
    'sl_4_004': 'https://www.ikea.com/de/de/images/products/idasen-tisch-schwarz-dunkelgrau__0932305_pe791406_s5.jpg?f=m',
    'sl_4_005': 'https://www.ikea.com/de/de/images/products/vadholma-kuecheninsel-schwarz-eiche__0736820_pe740762_s5.jpg?f=xl',
    'sl_5_001': 'https://www.ikea.com/de/de/images/products/saeboevik-boxbett-komplett-fest-vissle-grau__0891216_pe782251_s5.jpg?f=m',
    'sl_5_002': 'https://www.ikea.com/de/de/images/products/gladstad-bettgestell-gepolstert-2-schubl-kabusa-hellgrau__1012080_pe828858_s5.jpg?f=m',
    'sl_5_003': 'https://www.ikea.com/de/de/images/products/dunvik-boxspringbett-valevag-fest-tuddal-gunnared-beige__0794065_pe765491_s5.jpg?f=m',
    'sl_5_004': 'https://www.ikea.com/de/de/images/products/blakullen-bettgestell-eckkopfteil-gepolst-knisa-mittelblau__0995498_pe821743_s5.jpg?f=m',
    'sl_5_005': 'https://www.ikea.com/de/de/images/products/slattum-kullen-schlafzimmermoebel-4er-set-bomstad-schwarz-schwarzbraun__1101628_pe866469_s5.jpg?f=m',
    }

### presentation

In [12]:
# set speciality and city for every name
visitors_df = pd.DataFrame(visitors, columns=['visitor'])
visitors_df['city'] = np.random.choice(cities, len(visitors_df), p=[0.4, 0.2, 0.15, 0.25])
visitors_df['product'] = np.random.choice(products, len(visitors_df), p=[0.6, 0.25, 0.15])
visitors_df.head(3)

          visitor       city     product
0    Barbara Cole    Cologne   Furniture
1  Richard Carter  Frankfurt   Furniture
2  Martha Hammond     Berlin  Decoration

In [13]:
# names random probability distribution
vis_prob = np.random.randint(1, 50, size=len(visitors))
vis_prob = vis_prob / sum(vis_prob)
cus_prob = np.random.randint(1, 50, size=len(customers))
cus_prob = cus_prob / sum(cus_prob)

# create unique call_ids
ids = set(random.getrandbits(16) for _ in range(4000))
n_rows = len(ids)

# create df with n_rows and merge with names_df
df = (
    pd.DataFrame(np.random.choice(visitors, n_rows, p=vis_prob), columns=['visitor'])
    .merge(visitors_df, on='visitor', how='left'))

df['call_id'] = list(ids)
df['visit'] = np.random.choice(visit_result, len(df), p=[0.75, 0.25])  # add visit column
df['customer'] = np.random.choice(customers, n_rows, p=cus_prob)

# add random dates
start = pd.to_datetime('2022-01-01')
end = pd.to_datetime('2022-05-31')
df['date'] = random_dates(start, end, len(df))

df['plan'] = np.random.choice([1, 0], n_rows, p=[0.9, 0.1])
df['base'] = np.random.choice(base, n_rows, p=[0.6, 0.2, 0.2])

df = df.loc[:, ['call_id', 'date', 'visitor', 'visit', 'city',
                'product', 'customer', 'plan', 'base']]

df.shape

(3879, 9)

In [14]:
df.head(3)

,call_id,date,visitor,visit,city,product,customer,plan,base
0,49155,2022-01-14,Martha Hammond,Submitted,Berlin,Decoration,Thomas Wade,1,Assigned base
1,16388,2022-03-28,Sean Smith,Submitted,Berlin,Decoration,Veronica Wilson,1,Assigned base
2,24582,2022-05-24,James Miller,Submitted,Berlin,Furniture,Sonia Armstrong,1,Active base

In [15]:
df.city.value_counts()

Berlin       1872
Hanover       990
Frankfurt     794
Cologne       223
Name: city, dtype: int64

In [16]:
df.date.agg(['min', 'max'])

min   2022-01-01
max   2022-05-31
Name: date, dtype: datetime64[ns]

### slides

In [17]:
len(ids)

3879

In [18]:
vis_no_df = df[df.visit == 'Canceled']  # no visit df
vis_ids = df[df.visit == 'Submitted'].call_id.unique()  # ids with yes visit

n_rows = np.random.randint(18000, 19000)

slides_arr = pd.Series(list(vis_ids)).sample(n_rows, replace=True)
slides_arr.reset_index(drop=True, inplace=True)
slides_df = (pd.DataFrame(slides_arr, columns=['call_id']).merge(df, on='call_id', how='left'))

slides_df['presentation'] = slides_df.call_id.apply(lambda x: list(d_pres.keys())[np.random.binomial(x % 5, 0.7)])
slides_df['slides'] = slides_df.presentation.apply(lambda x: np.random.choice(list(d_pres[x])))
slides_df['url'] = slides_df.slides.apply(lambda x: d_slide[x])
slides_df['duration_sec'] = np.random.randint(60, 300, size=len(slides_df))  # add duration in seconds

slides_df['like'] = np.random.choice([1, 0], len(slides_df), p=[0.3, 0.7])
slides_df['dislike'] = np.random.choice([1, 0], len(slides_df), p=[0.05, 0.95])
slides_df['dislike'] = np.where(slides_df.like, 0, slides_df.dislike)

slides_df = pd.concat([slides_df, vis_no_df])

slides_df.head(3)

,call_id,date,visitor,visit,city,product,customer,plan,base,presentation,slides,url,duration_sec,like,dislike
0,29913,2022-01-06,Brian Powell,Submitted,Berlin,Furniture,Mark Flores,0,Non-active base,pres_2,sl_2_005,https://www.ikea.com/de/de/images/products/dip...,116.0,0.0,0.0
1,57477,2022-04-19,Mark Abbott,Submitted,Hanover,Decoration,Esther Parker,1,Non-active base,pres_2,sl_2_001,https://www.ikea.com/de/de/images/products/gil...,66.0,1.0,0.0
2,31025,2022-04-06,Jean Martin,Submitted,Frankfurt,Decoration,Paul Murphy,1,Non-active base,pres_1,sl_1_004,https://www.ikea.com/de/de/images/products/iva...,224.0,1.0,0.0

In [19]:
slides_df.presentation.value_counts()

pres_1    5218
pres_2    5089
pres_3    4261
pres_4    2776
pres_5     853
Name: presentation, dtype: int64

In [20]:
slides_df.plan.value_counts()

1    17148
0     2011
Name: plan, dtype: int64

In [21]:
visitors_df.head(3)

          visitor       city     product
0    Barbara Cole    Cologne   Furniture
1  Richard Carter  Frankfurt   Furniture
2  Martha Hammond     Berlin  Decoration

In [22]:
n_visits = slides_df.groupby(['visitor', 'customer'], as_index=False).agg({'call_id': 'nunique'})

n_visits['call_id'] = np.where(n_visits.call_id > 1, 2, n_visits.call_id)

f_visits = (n_visits
            .pivot_table(
                values='customer',
                index='visitor',
                columns='call_id',
                aggfunc="count",
                fill_value=0)
            .reset_index()
            .rename(columns={1: 'one_visit', 2: 'two_visits'})
           )

f_visits.head(3)

call_id        visitor  one_visit  two_visits
0           Aaron Cook         30          16
1        Aaron Stewart         10           0
2          Agnes White         26          41

In [23]:
slides_df.head(3)

,call_id,date,visitor,visit,city,product,customer,plan,base,presentation,slides,url,duration_sec,like,dislike
0,29913,2022-01-06,Brian Powell,Submitted,Berlin,Furniture,Mark Flores,0,Non-active base,pres_2,sl_2_005,https://www.ikea.com/de/de/images/products/dip...,116.0,0.0,0.0
1,57477,2022-04-19,Mark Abbott,Submitted,Hanover,Decoration,Esther Parker,1,Non-active base,pres_2,sl_2_001,https://www.ikea.com/de/de/images/products/gil...,66.0,1.0,0.0
2,31025,2022-04-06,Jean Martin,Submitted,Frankfurt,Decoration,Paul Murphy,1,Non-active base,pres_1,sl_1_004,https://www.ikea.com/de/de/images/products/iva...,224.0,1.0,0.0

### p_table

In [24]:
visitors_df.head(3)

          visitor       city     product
0    Barbara Cole    Cologne   Furniture
1  Richard Carter  Frankfurt   Furniture
2  Martha Hammond     Berlin  Decoration

In [25]:
p_table = (slides_df
           .pivot_table(
               values='date',
               index=['visitor'],
               columns='base',
               aggfunc="count",
               fill_value=0)
           .reset_index()
           .merge(f_visits, on='visitor', how='left')
           .merge(visitors_df, on='visitor', how='left')
           )

p_table.head(3)

,visitor,Active base,Assigned base,Non-active base,one_visit,two_visits,city,product
0,Aaron Cook,87,176,81,30,16,Berlin,Decoration
1,Aaron Stewart,9,20,14,10,0,Berlin,Furniture
2,Agnes White,129,491,189,26,41,Berlin,Furniture

#### Sheet1 - Load data Visits (Diag)

In [26]:
slides_df.columns

Index(['call_id', 'date', 'visitor', 'visit', 'city', 'product', 'customer',
       'plan', 'base', 'presentation', 'slides', 'url', 'duration_sec', 'like',
       'dislike'],
      dtype='object')

In [27]:
visits = (slides_df
          .groupby(['call_id', 'date', 'visitor', 'visit', 'city',
                    'product', 'customer', 'plan', 'base'])
          .agg({'duration_sec': 'sum'})
          .rename(columns={'duration_sec': 'duration'})
          )
visits.head(3)

                                                                                                      duration
call_id date       visitor          visit     city      product    customer       plan base
10      2022-02-15 Priscilla Turner Submitted Berlin    Decoration Angela Romero  1    Assigned base     287.0
14      2022-05-25 John Simpson     Submitted Frankfurt Furniture  Dorothy Gordon 1    Active base      2211.0
23      2022-05-01 Victor Oliver    Submitted Berlin    Furniture  Marie Perry    1    Active base       971.0

In [28]:
# add data to google sheets
worksheet = sh.get_worksheet(0)  # -> 0 - first sheet, 1 - second sheet etc.
worksheet.batch_clear(["A1:J"])  # clear columns with data
set_with_dataframe(worksheet, visits.reset_index(), col=1, row=1)

#### Sheet2 - Load data Presentations

In [29]:
slides_df.head(3)

,call_id,date,visitor,visit,city,product,customer,plan,base,presentation,slides,url,duration_sec,like,dislike
0,29913,2022-01-06,Brian Powell,Submitted,Berlin,Furniture,Mark Flores,0,Non-active base,pres_2,sl_2_005,https://www.ikea.com/de/de/images/products/dip...,116.0,0.0,0.0
1,57477,2022-04-19,Mark Abbott,Submitted,Hanover,Decoration,Esther Parker,1,Non-active base,pres_2,sl_2_001,https://www.ikea.com/de/de/images/products/gil...,66.0,1.0,0.0
2,31025,2022-04-06,Jean Martin,Submitted,Frankfurt,Decoration,Paul Murphy,1,Non-active base,pres_1,sl_1_004,https://www.ikea.com/de/de/images/products/iva...,224.0,1.0,0.0

In [30]:
# add data to google sheets
worksheet = sh.get_worksheet(1)  # -> 0 - first sheet, 1 - second sheet etc.
worksheet.batch_clear(["A1:O"])  # clear columns with data
set_with_dataframe(worksheet, slides_df, col=1, row=1)

#### Sheet3 - Load data Visits (Table)

In [31]:
p_table.head(3)

,visitor,Active base,Assigned base,Non-active base,one_visit,two_visits,city,product
0,Aaron Cook,87,176,81,30,16,Berlin,Decoration
1,Aaron Stewart,9,20,14,10,0,Berlin,Furniture
2,Agnes White,129,491,189,26,41,Berlin,Furniture

In [32]:
# add data to google sheets
worksheet = sh.get_worksheet(2)  # -> 0 - first sheet, 1 - second sheet etc.
worksheet.batch_clear(["A1:H"])  # clear columns with data
set_with_dataframe(worksheet, p_table, col=1, row=1)